@media screen and (min-width: 960px) {
  .container {
    padding-left: 8.33%;
  }
  form {
    font-size: 18px;
  }
  .submit {
    height: 54.4px;
    border-radius: 16px;
  }
}
@media screen and (min-width: 1140px) {
  form {
    margin-left: 21.1vw;
    font-size: 22px;
    max-width: 692px;
  }
}
