@media screen and (max-width: 1140px) {
  .advantage {
    width: 90%;
  }

  .choice {
    width: 70%;
  }

  .footer-container {
    column-gap: 0;
    margin-right: 8%;
  }
}

@media screen and (max-width: 960px) {
  .container,
  header,
  footer {
    padding-left: 6.1%;
  }

  .join-us {
    width: 260px;
    height: 54px;
  }

  .join-us button {
    border-radius: 16px;
  }

  .carrousel {
    width: unset;
  }

  .color-change-text::before {
    width: 76px;
  }

  .customer-infos {
    transform: translateX(-140px);
  }

  .customer-infos img {
    min-width: 480px;
  }

  .advantage {
    width: 96%;
    margin-left: 0;
  }

  .choice {
    width: 76%;
    margin-left: 12%;
  }

  .footer-nav {
    transform: translateX(-10%);
  }
}

@media screen and (max-width: 730px) {
  header nav ul {
    z-index: 2;
    position: fixed;
    right: -100%;
    top: 66.8px;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 0 16px 6.1%;
    row-gap: 8px;
    background: #fefffe;
    transition: all 0.4s ease-in-out;
  }

  header nav li {
    border-bottom: 1px solid #0d1321;
    width: 100vw;
    transform: translateX(-6.1%);
    position: relative;
  }

  header nav li::after {
    content: "\2192";
    position: absolute;
    top: 0;
    left: 83.6%;
    font-size: 24px;
    transform: translateY(4px);
  }

  header nav li a {
    display: block;
    padding: 8px 0 8px 6.1%;
    width: 94.9%;
  }

  .no-border {
    border: none;
  }

  .no-border a {
    padding-bottom: 0;
  }

  .nav.mobile-nav-clicked {
    right: 0;
  }

  .mobile-menu {
    display: block;
    transition: 0.4s ease-in-out;
    position: relative;
    cursor: pointer;
  }

  .advantage {
    flex-direction: column;
    row-gap: 64px;
  }

  .choice {
    width: 100%;
    margin-left: 0;
    flex-direction: column;
    align-items: center;
    row-gap: 48px;
  }

  .footer-container {
    flex-direction: column;
  }
  .logo {
    width: 95px;
    height: 26px;
  }

  .footer-nav {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 24px;
    transform: translateX(0);
  }

  .contact {
    flex-direction: row;
    column-gap: 20vw;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 590px) {
  .join-us {
    width: 220px;
    height: 46px;
  }

  .join-us button {
    border-radius: 12px;
  }

  .carrousel {
    margin-left: 0;
  }

  .prev {
    display: none;
  }

  .next {
    display: none;
  }
  .customer {
    flex-direction: column;
    top: 0;
    left: 1000px;
  }
  .customer.active {
    left: 0;
  }

  .color-change-text {
    margin: unset;
    color: #0d1321;
    padding-bottom: 16px;
    font-size: 26px;
  }

  .color-change-text::before {
    display: none;
  }

  .active .color-change-text {
    opacity: 1;
    top: 0;
  }

  .customer-infos {
    transform: translateX(0px);
  }

  .customer-infos img {
    width: 100vw;
    transform: translateX(-6.1%);
    min-width: unset;
    height: 210px;
    border-radius: 0px;
    object-position: unset;
  }

  .bullets {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    margin-top: 8px;
    width: 100%;
  }
  .bullets span {
    background: #0d1321;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
  .bullets span.bulletActive {
    border: 1px solid #0d1321;
    background: #fefffe;
    width: 24px;
    height: 24px;
  }

  .choice a {
    width: 210px;
    height: 38.98px;
  }
  .choice a button {
    border-radius: 12px;
  }
}
