@media screen and (max-width: 1140px) {
  .advantage {
    width: 90%;
  }

  .choice {
    width: 70%;
  }
}

@media screen and (max-width: 960px) {
  .container {
    padding-left: 6.25%;
  }

  .carrousel {
    width: unset;
  }

  .color-change-text::before {
    width: 76px;
  }

  .customer-infos {
    transform: translateX(-140px);
  }

  .customer-infos img {
    min-width: 380px;
  }

  .advantage {
    width: 96%;
    margin-left: 0;
  }

  .choice {
    width: 76%;
    margin-left: 12%;
  }
}

@media screen and (max-width: 730px) {
  .advantage {
    flex-direction: column;
    row-gap: 64px;
  }

  .choice {
    width: 100%;
    margin-left: 0;
    flex-direction: column;
    align-items: center;
    row-gap: 48px;
    padding-right: 6.25%;
  }
}

@media screen and (max-width: 590px) {
  .carrousel {
    margin-left: 0;
  }

  .prev {
    display: none;
  }

  .next {
    display: none;
  }
  .customer {
    flex-direction: column;
    top: 0;
  }

  .color-change-text {
    margin: unset;
    color: #0d1321;
    padding-bottom: 16px;
    font-size: 26px;
  }

  .color-change-text::before {
    display: none;
  }

  .active .color-change-text {
    opacity: 1;
    top: 0;
  }

  .customer-infos {
    transform: translateX(0px);
  }

  .customer-infos img {
    width: 100vw;
    transform: translateX(-6.25%);
    min-width: unset;
    height: 210px;
    border-radius: 0px;
    object-position: unset;
  }

  .bullets {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    margin-top: 8px;
    width: 100%;
  }
  .bullets span {
    position: relative;
    background: #0d1321;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
  }
  .bullets span.bulletActive {
    border: 1px solid #0d1321;
    background: #fefffe;
    width: 24px;
    height: 24px;
  }

  .choice a {
    width: 210px;
    height: 38.98px;
  }
  .choice a button {
    border-radius: 12px;
  }
}
