/*color : blue #0180A8, red #E62701, white #fefffe, black #0D1321 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,600;1,200&display=swap");

* {
  box-sizing: border-box;
  text-decoration: none;
  color: #0d1321;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Montserrat", Arial, sans-serif;
  background: #fefffe;
  scroll-behavior: smooth;
}
h1 {
  font-size: 60px;
  font-weight: 600;
}

h2 {
  font-size: 45px;
  font-weight: 600;
}

h3 {
  font-size: 30px;
  font-weight: 500;
}

a {
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease-in;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

p {
  font-size: 18px;
  font-weight: 300;
}

.meta {
  font-size: 14px;
  font-weight: 200;
}

button {
  font-family: "Montserrat", Arial, sans-serif;
  border-radius: 18px;
  background: #0180a8;
  border: none;
  color: #fefffe;
  font-weight: 500;
  padding: 0;
}

button:hover {
  transition: 0.3s ease-in-out;
  background: #e62701;
}

/* ************************************************************ HEADER ************************************************************ */

header {
  display: flex;
  height: 38px;
  width: 83.6%;
  margin-left: 10.8%;
  margin-top: 16px;
  background: transparent;
  justify-content: space-between;
}

header nav {
  width: 61.9%;
}

header nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ************************************************************ FOOTER ************************************************************ */
footer {
  margin-top: 128px;
  background: #0d1321;
  padding: 64px 14.5% 32px 10.76%;
  width: 100%;
  height: 466px;
  color: #fefffe;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer li {
  padding-bottom: 16px;
}

footer a,
footer p {
  color: #fefffe;
}

.footer-container {
  display: flex;
  column-gap: 49px;
}

.footer-nav {
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  align-items: center;
}

.legal {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transform: translateX(2.5%);
}
