/*color : blue #0180A8, red #E62701, white #fefffe, black #0D1321 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,600;1,200&display=swap");

* {
  box-sizing: border-box;
  text-decoration: none;
  color: #0d1321;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Montserrat", Arial, sans-serif;
  background: #fefffe;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}

h1 {
  font-size: calc(28px + 2.2vw);
  font-weight: 600;
  max-width: 90%;
}

h2 {
  font-size: calc(24px + 1.5vw);
  font-weight: 600;
  max-width: 90%;
}

h3 {
  font-size: calc(21px + 0.65vw);
  font-weight: 500;
}

.container,
header,
footer {
  padding-left: 6.25%;
}

a {
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease-in;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

p {
  font-size: 18px;
  font-weight: 300;
}

.meta {
  font-size: 14px;
  font-weight: 200;
}
button {
  font-family: "Montserrat", Arial, sans-serif;
  border-radius: 18px;
  background: #0180a8;
  border: none;
  color: #fefffe;
  font-weight: 500;
  padding: 0;
  cursor: pointer;
}

button:hover {
  transition: 0.3s ease-in-out;
  background: #e62701;
}

/* ************************************************************ FORM ************************************************************ */

.form {
  padding-top: 128px;
  padding-right: 6.1%;
  margin-bottom: 128px;
  font-weight: 600;
}

.form h2 {
  margin-bottom: 128px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 590px;
  font-size: 14px;
}

label {
  margin-bottom: 48px;
}

select,
input {
  margin-bottom: 32px;
  color: #565a64;
  border: none;
  border-bottom: 2px solid #0d1321;
  outline: none;
}

input::placeholder,
select::placeholder,
option {
  font-weight: 300;
}

.submit {
  width: 56.25%;
  max-width: 240px;
  height: 34px;
  color: #fefffe;
  background-color: #0180a8;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.submit:hover {
  background-color: #e62701;
}
