/*color : blue #0180A8, red #E62701, white #fefffe, black #0D1321 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,600;1,200&display=swap");

* {
  box-sizing: border-box;
  text-decoration: none;
  color: #0d1321;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Montserrat", Arial, sans-serif;
  background: #fefffe;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}

h1 {
  font-size: calc(28px + 2.2vw);
  font-weight: 600;
  max-width: 90%;
}

h2 {
  font-size: calc(24px + 1.5vw);
  font-weight: 600;
  max-width: 90%;
}

h3 {
  font-size: calc(21px + 0.65vw);
  font-weight: 500;
}

.container,
header,
footer {
  padding-left: 8.33%;
}

a {
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease-in;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

p {
  font-size: 18px;
  font-weight: 300;
}

.meta {
  font-size: 14px;
  font-weight: 200;
}

button {
  font-family: "Montserrat", Arial, sans-serif;
  border-radius: 18px;
  background: #0180a8;
  border: none;
  color: #fefffe;
  font-weight: 500;
  padding: 0;
  cursor: pointer;
}

button:hover {
  transition: 0.3s ease-in-out;
  background: #e62701;
}

/* ************************************************************ TRUST ************************************************************ */
.trust {
  margin-left: 0;
  padding-top: 128px;
  margin-bottom: 128px;
}

.carrousel {
  position: relative;
  margin-left: 9.06%;
  margin-top: 64px;
  width: 69.8vw;
  height: auto;
}

.prev,
.next {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  position: absolute;
  z-index: 10;
}

.prev {
  top: 0;
  left: -64px;
  height: 32px;
}

.next {
  top: 0;
  height: 32px;
  left: -16px;
}

.prev:hover {
  transform: translateX(-8px);
}

.next:hover {
  transform: translateX(8px);
}

.customer {
  position: absolute;
  display: flex;
  transition: all 0.6s ease-in-out;
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 100%;
  height: 100%;
  top: -100px;
}

.active {
  visibility: visible;
  position: relative;
  height: auto;
  opacity: 1;
  top: 0;
}

.active .color-change-text {
  opacity: 1;
  left: 0;
  top: 0;
}

.color-change-text {
  transition: all 0.8s ease-in-out;
  left: -100px;
  top: -100px;
  min-width: 216px;
  position: relative;
  margin: auto;
  color: #fefffe;
  z-index: 1;
  opacity: 0;
}

.color-change-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 106px;
  color: #0d1321;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
}

.customer-infos {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 16px;
  transform: translateX(-110px);
}

.customer-infos img {
  display: block;
  object-fit: cover;
  border-radius: 16px;
  min-width: 586px;
  max-width: 785px;
}

.bullets {
  display: none;
}

/* ************************************************************ SIMULATION ************************************************************ */

.simulation {
  padding-top: 128px;
  padding-bottom: 128px;
  background-color: #f7f7f7;
}

.advantage {
  width: 83.45%;
  margin-top: 64px;
  margin-left: 3.4%;
  display: flex;
  justify-content: space-between;
}

.advantage article {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.advantage img {
  margin-bottom: 16px;
}

.choice {
  margin: 64px 0 0 15%;
  display: flex;
  justify-content: space-between;
  width: 55.554%;
}

.choice a {
  width: 240px;
  height: 54.4px;
}

.choice a button {
  width: 100%;
  height: 100%;
}
